header
{
	font-size: 50px;
	background-color: lightblue;
	text-align: center;	
}

#weather-btn
{
	width:40px;
	height: 30px;
	background-color: blue;
}

#geo-btn
{
	
	color: white;
	font-style: strong;
	background-color: red;
	margin-left: 10px;

}
.current-weather{
	display: !important;
	border-style: solid;
	border-color: blue;
}



.weather-name{
	margin-left: 5px;
	border-style: solid;
	border-color: gray;
	background-color: slategrey;
	font-style: strong;
	display: grid;
}

#display_data
{
/*	display: flex;*/
}

.city-ls{
	color: white;
	background-color: blue;
}
